body {
    padding-left: 15px;
    padding-right: 15px;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}
.alignright {
    text-align: right;
}
.floatcenter {
    text-align: center;
}
.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.alignleft {
    float: left;
}
.alignright {
    float: right;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.table-curved {
    border-collapse:separate;
    border: 0;
    border-radius: 5px;
    border-collapse: collapse;
    width: 100%;
}


.table-curved tr:last-child th:last-child
{ 
    border-bottom-right-radius: 5px;   
}

.table-curved tr:last-child th:first-child
{
    border-bottom-left-radius: 5px;      
}

.table-curved th {
    background-color:#ff9400;
    color:white;
    padding: 4px 10px;
}

.table-curved td {
    padding: 4px 10px;
}

.table-curved th:last-child {
    border-top-right-radius: 5px;
}

.table-curved th:first-child {
    border-top-left-radius: 5px;
}

.table-curved th.sorted {
    background-color:#ddf5dd;
}

.table-curved a:link {
    text-decoration: none;
    line-height: 105%;
}

.table-curved a:hover {
    background-color: #FFF04D;
}


tr.odd td {
background-color: #FFD04D; color: black;
}
tr.even td {
background-color: #F0FF4D; color: black;
}


th.jleft { text-align:left; }
th.jright { text-align:right; }
th.jmiddle { text-align:center; }
td.jleft { text-align:left; }
td.jright { text-align:right; }
td.jmiddle { text-align:center; }

/* Form tables  */
.table-form {
    border-collapse:separate;
    border: 0;
    border-radius: 5px;
    border-collapse: collapse;
}

.table-form th {
    vertical-align: top;
    background-color:#467f45;
    color:white;
    padding: 4px 10px;
}

.table-form td {
    padding: 10px 10px;
}

.table-form tr:last-child th:first-child
{ 
    border-bottom-left-radius: 5px;   
}

.table-form tr:first-child th:first-child
{
    border-top-left-radius: 5px;      
}

/* JRT above table */

/* JRT below input, text box etc */
input, textarea {
    border-radius: 5px;
}
.btn-lg {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 22.857142864000004px;
  line-height: 2.2857142864rem;
}
.btn-facebook {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color: #ffffff !important;
  background-color: #538ccd !important;
  background-image: none !important;
  border-left: none;
  border-right: none;
  border-top: 2px solid #6799d3 !important;
  border-bottom: 2px solid #2a5a91 !important;
}
.btn-facebook:hover {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color: #ffffff !important;
  background-color: #5f94d1 !important;
  background-image: none !important;
  border-left: none;
  border-right: none;
  border-top: 2px solid #72a1d7 !important;
  border-bottom: 2px solid #2d619c !important;
}
.btn-facebook:focus,
.btn-facebook:active {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color: #ffffff !important;
  background-color: #3572b8 !important;
  background-image: none !important;
  border-left: none;
  border-right: none;
  border-top: 2px solid #387ac4 !important;
  border-bottom: 2px solid #4381c9 !important;
}
