{% extends "base.html" %}

{% block content %}
{% if user and not user.is_anonymous %}
 <div id="intro">
 <H1>Welcome to my QA blog {{ user.first_name }}</H1>
 {% else %}
 <div>
 <H1>Log in via one of the social methods below</H1>
 {% endif %}

 <div class="floatcenter">
    <BR /><BR /><BR />
   {% if user and not user.is_anonymous %}
        <P>Hello {{ user.get_full_name|default:user.username }}!</P>
        <p>Post a question or answer one</p>
        <P><a href="{% url 'questionAdd' %}" class="btn btn-lg btn-facebook">
        Ask a question</a></P>
        <P><a href="{% url 'questionList' %}" class="btn btn-lg btn-facebook">
        Answer a question</a></P>
        <P><a href="{% url 'auth:logout' %}?next={{ request.path }}" 
        class="btn btn-lg btn-facebook">Logout</a></P>
   {% else %}
        <P><a href="{% url "social:begin" "facebook" %}" class="btn btn-lg btn-facebook">
              Login via Facebook
            </a></P>
        <P><a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-lg btn-facebook">Login via Google</a></P>
   {% endif %}
</div>
{% endblock %}