{% extends "base.html" %}

{% block content %}
{% if user and not user.is_anonymous %}
 <div id="intro">
 <H1><a href="#">Welcome to my QA blog {{ user.first_name }}</a></H1>
 {% else %}
 <div>
 <H1><a href="#">Log in via one of the social methods below</a></H1>
 {% endif %}


   {% if user and not user.is_anonymous %}
        <P>Hello {{ user.get_full_name|default:user.username }}!</P>
        <p>Post a question or answer one</p>
        <UL>
        <LI><a href="{% url 'questionAdd' %}">Ask a question</a></LI>
        <LI><a href="{% url 'questionList' %}">Answer a question</a></LI>
        <LI><a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a></LI>
        </UL>
   {% else %}
        <UL>
        <li><a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="button">Fbook</a></li>
        <li><a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="button">Google</a></li>
        <li><a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="button">Twitter</a></li>
        </UL>
   {% endif %}
{% endblock %}