{% extends "base.html" %}


{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class="post">
                <div class="date">
                <p>Asked by 
                {{ question.original_poster.user.first_name }} 
                {{ question.original_poster.user.last_name }} on 
                {{ question.when_asked|date:"D jS M Y" }}
                </p>
                </div>

                {% if request.user == question.original_poster.user %}&nbsp;<a class="btn btn-default" href="{% url 'question_mod' question.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}

                <h1>{{ question.title }}</h1>
                
                <p>{{ question.description|linebreaks }}</p>
            </div>

            <div class="post">
            {% for ans in question.answers.all %}
                
                <div id="answer">
                <p>{{ ans.answer|linebreaks }}</p>
                <p>
                    <a href="{% url 'answer_vote_minus' ans.id %}">
                    <span class="glyphicon glyphicon-minus"></span>
                    </a>
                    {{ ans.votes }}
                    <a href="{% url 'answer_vote_plus' ans.id %}">
                    <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </p>
                </div>
                <div class="date">
                <P>Answered by {{ ans.author.user.first_name }} {{ ans.author.user.last_name }} on
                {{ ans.when_answered|date:"D jS M Y" }}
                </P>
                </div>
            {% endfor %}
            </div>
            			
            <h2>Post Your Own Answer</h2>
            {% if form.errors %}
            	<P style="color: red;">
            	Please correct the error{{ form.errors|pluralize }} below.
            	</p>
            {% endif %}

            <form action="" method="post" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>

{% endblock %}
